
 .titleBar-1it3bQ::after {
   content: "GreenyCord";
   color: gray;
   background-color:rgba(207, 207, 207, 0);
   position: absolute;
   font-weight: 600 !important;
   left: 0.5%;
   height: 3px;
   top: 3px;
   
 }


.panel-2ZFCRb.activityPanel-9icbyU{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
  .buttons-uaqb-5 > .button-ejjZWC,
 .stickerButton-1-nFh2 {
     display:none;
 }
 .none-2-_0dP.scrollerBase-_bVAAt{
  background-color: var(--background-tertiary) !important;
}
.item-3mHhwr.addFriend-emTWY1.item-3XjbnG.themed-2-lozF{
  background-color: var(--background-third);
}
.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.snowsgivingLink-1TZi3c{
  display:none;
}
.scrollableContainer-15eg7h.webkit-QgSAqd{
  background-color: var(--background-tertiary);
}
.container-1zzFcN{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.container-YkUktl{
  border-radius: 20px;
}
.button-1EGGcP.buttonColor-3bP3fX.button-ejjZWC.lookFilled-1H2Jvj.colorBrand-2M3O3N.sizeSmall-3R2P2p.grow-2T4nbg.button-1EGGcP{
  border-radius: 20px;
  background-color: var(--text-muted);
}
.button-1EGGcP.buttonColor-3bP3fX.button-ejjZWC.lookFilled-1H2Jvj.colorBrand-2M3O3N.sizeSmall-3R2P2p.fullWidth-3M-YBR.grow-2T4nbg.button-1EGGcP{
  border-radius: 20px;
  background-color: var(--text-muted);
}
.button-12Fmur.enabled-9OeuTA.button-ejjZWC.lookBlank-FgPMy6.colorBrand-2M3O3N.grow-2T4nbg.button-12Fmur{
  border-radius: 20px;
}
.avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L{
  border-radius: 20px;
}
.childWrapper-1j_1ub{
  border-radius: 20px;
}
container-1zzFcN
.panel-2ZFCRb.activityPanel-9icbyU{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.gameIcon-1mDo1J.desaturate-_Twf3u.medium-1vKkpm.gameIcon-2BIUJ3{
  border-radius: 20px;
}

.accountButtonInner-33vCDY:hover{
  background-color: var(--text-muted);
}
.embedWrapper-1MtIDg{
  border-radius: 20px;
}

.layout-1qmrhw{
  border-radius: 20px;
}
.content-1gYQeQ{
  border-radius: 20px;
}
@keyframes rotatio {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.assetsLargeImageUserPopoutV2-9ksyvz{
  border-radius: 26px; 
  animation: rotation 4s infinite linear;
}
.barInner-3dHef4{
  background-color:var(--text-muted);
}
.gridContainer-1cF_Ic{
  margin-left: 10px;
}
.textarea-_59yqs{
  border-radius: 10px;
}

.inputWrapper-2K8ds1 {
  border-radius: 20px;
}
.button-ejjZWC{
  border-radius: 20px;
}
.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
  transition: all 0.5s ease-in-out;
  
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
  opacity: 30% !important;
  width: 32px;
  
}


 
 /* REMOVE DISCORD WATERMARK */
 .wordmarkWindows-2dq6rw {display: none;}
 .iconWrapper-2awDjA[aria-label="Member List"] {
 display: none;
 opacity: 0.5;
 }
 .scrollableContainer-15eg7h.webkit-QgSAqd{
   color:black;
 }
 
 .role-2TIOKu {
   transform: translate(0);
   border: 0;
   border-radius: var(--roles-roundness-calc);
 }
 .role-2TIOKu .roleRemoveIcon-387wKV {
   margin: 0;
   left: unset;
   transform: translate(50%,-50%);
 }
 .role-2TIOKu .roleRemoveButton-17oXnT{position: static}
 .role-2TIOKu .roleCircle-3K9O3d:before {
   content: '';
   top: 0;left: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   position: absolute;
   background: inherit;
   border-radius: var(--roles-roundness-calc);
   border: 2px solid transparent;
   -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
   -webkit-mask-composite: xor;
 }
 .panels-3wFtMD {
   margin-right: 5px;
   margin-bottom: 19px;
   margin-left: 5px;
   border: 1px solid var(--background-second);
   border-radius: 20px;
   box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
 }
 .childWrapper-1j_1ub{
   background-color: var(--background-third);
 }
 .childWrapper-1j_1ub:hover{
   background-color: var(--background-third) !important;
   filter:saturate(200%);
 }
 .childWrapper-1j_1ub:focus{
   background-color: var(--background-third) !important;
   filter:saturate(200%);
 }
 
 .connectedAccountIcon-2vls0t ~ div::before {
   content: "";
   top: 0; bottom: 0; left: 0; right: 0;
   border: 1px solid var(--border-color);
   position: absolute;
   display: block;
   pointer-events: none;
 }
 
 .connectedAccount-1xKpli {
   overflow: hidden;
   position: relative;
 }
 
 /* Re-round Spotify Status Images */
 .assetsLargeImageSpotify-17ME3M{border-radius:8px;}
 
 
 /* Rounded Context Menu */
 .menu-1QACrS, .colorDefault-CDqZdO { 
   border-radius: 15px; 
 }
 /* Pop-out Animation */ 
 .menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
   animation: custom-menu-animation 250ms ease;
   transform-origin: top;
 }
 @keyframes custom-menu-animation {
   0% {
       transform: scaleY(0);
   }
   100% {
       transform: scaleY(1);
   }
 }
 
 .body-1Ukv50 {
   background-color: var(--background-second);
   margin: 10px;
   width: calc(100% - 30px);
   border-radius: 8px;
   border: none;
 }
 .root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 {
   background-color: var(--background-secondary-alt);
   border-radius: 20px;
 }
 .banner-2boKnS, .banner-1YaD3N {
   margin: 10px;
   width: calc(100% - 20px);
   border-radius: 8px;
 }
 .container-1gYwHN {
   border-radius: 8px;
   background-color: var(--background-primary);
   padding: 5px;
   width: fit-content;
 }
 .clickable-1knRMS {
   margin: 0;
 }
 .connectedAccountContainer-SlCC-S {
   width: 100%;
 }
 .connectedAccountsColumn-2LgTkZ {
   width: calc((100%/2) - 20px);
 }
 .userPopoutInner-PA9zkU.userPopoutInnerWithoutTheme-23vLID.userProfileInnerUnthemed-1XxIZu.userPopoutInnerNonPremium-1XjSjn {
   background-color: var(--background-tertiary);
 }
 .userPopoutOuter-3AVBmJ.userProfileOuter-1K_BYU.userProfileOuterUnthemed-2b2rsv.profileColors-3Y0XaR{
   background-color: var(--background-tertiary);
 }
 .colorBrand-I6CyqQ {
   border-radius: 18px;
 }
 .newMessagesBar-1hF-9G.barBase-3xxDXu{
   background-color: var(--background-third);
 }
 
 
 .sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
   justify-content: unset;
   flex: unset
 }
 .contentColumn-1C7as6, .customColumn-2n-oKU, .hero-1aNo0v {
   max-width: unset;
 }
 .accountProfileCard-lbN7n- {
   max-width: 750px;
 }
 .notificationSettings-1U0JsJ {
   max-width: 45%;
 }
 .colorDefault-CDqZdO.focused-3qFvc8 {
   background-color: var(--background-third);
 }
 
 .messagesPopout-eVzQcI{
   background-color: var(--background-tertiary);
 }
 .circleIconButton-1VxDrg{
   background-color: var(--background-secondary-alt);
   color:var(--background-third);
 }
 
 .circleIconButton-1VxDrg.selected-2r1Hvo{
   color: var(--background-secondary-alt);
   background-color:var(--background-third);
 }
 .scrollableContainer-15eg7h{
   background-color: var(--background-tertiary);
 }
 
 .container-1Lk8p7{
   background-color: var(--background-secondary-alt);
   border-radius: 15px;
 }
 .lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F:hover{
   background-color: var(--background-secondary-alt);
 }
 .lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F{
   background-color: var(--background-third);
 }
 .textBadge-1fdDPJ.base-3IDx3L{
   background-color: var(--background-third) !important;
 }
 .messageGroupCozy-3v_RqN.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz{
   background-color: var(--background-);
 }
 .messagesPopout-eVzQcI.thin-31rlnD.scrollerBase-_bVAAt{
   background-color: var(--background-main);
 }
 .scrollbarGhostHairline-2LpzZ9.scrollbar-3vVt8d{
   background-color: var(--background-second);
 }
 .header-1w9Q93{
   background-color: var(--background-main);
 }
 
 .list-3YHPPb{
   background-color: var(--background-second);
 }
 .scrollbarGhostHairline-2LpzZ9.scrollbar-3vVt8d{
   background-color: var(--background-tertiary);
 }
 .header-3_zmOb{
   background-color: var(--background-main);
 }
 .scroller-1bVxF5.thin-31rlnD{
   background-color: var(--background-main);
   border-radius: 15px;
 }
 .body-1Ukv50{
   background-color: var(--background-tertiary);
 }
 
 
 .container-2nx-BQ.checked-25WXMf{
   background-color: var(--background-third) !important;
 }
 .container-2nx-BQ{
   background-color: rgb(65, 65, 65) !important;
 }
 
 .theme-dark.container-ZMc96U.themed-Hp1KC_{
   background-color: var(--background-second);
 }
 
 .contentWrapper-3vHNP2{
   background-color: var(--background-tertiary);
   border-radius: 15px;
 }
 
 .wrapper-1NNaWG{
   background-color: var(--background-second);
 }
 
 .scroller-2MALzE.list-obNEuP.none-2-_0dP.scrollerBase-_bVAAt{
   background-color: var(--background-main);
 }
 
 .inspector-DFKXwB{
   background-color: var(--background-second);
 }
 
 .card-YtRIQ2{
   background-color: var(--background-second);
 }
 
 .botTag-7aX5WZ.px-MnE_OR{
   background-color: var(--background-third);
 }
 
 .scroller-145h9c.thin-31rlnD.scrollerBase-_bVAAt{
   background-color: var(--background-second);
 }
 .channelHeader-DFRX8q{
   background-color: var(--background-third);
   border-radius: 15px;
 }
 .messages-23can0{
   background-color: var(--background-main);
   border-radius: 15px;
 }
 .footer-31IekZ{
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
 }
 .scroller-2MALzE.list-obNEuP.none-2-_0dP{
  background-color: var(--background-secondary-alt) !important;
  filter:saturate(200%);
}
 .attachButtonPlus-3IYelE{
  fill: var(--background-secondary-alt);
}

.attachButton-1ijpt9:hover path:not(path+path, #a#B){
  fill: var(--background-third);
}
.premiumTier0Badge-1-GBZW{
    display: none;
}
.numberBadge-37OJ3S.base-3IDx3L.baseShapeRound-3epLEv{
  background-color: var(--text-muted)!important ;
  border-radius: 15px;
}
.controlButton-2PMNom.centerButton-1IShs7.colorable-3rVGna.red-3T8maV.button-f2h6uQ.lookBlank-21BCro.colorBrand-I6CyqQ.grow-2sR_-F{
  background-color: var(--background-third) !important;
  
}
 





 /* BD SETTINGS */
 .bd-button.bd-button-title{
   background-color: var(--background-third);
   border-radius: 15px;
 }
 .bd-addon-header{
   background-color: var(--background-secondary);
 }
